* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  padding: 0;
}

h1{
	text-align: center;
	font-size: 175%;
	margin: 15px;
}

div#container{
	position: relative;
	background-color: gray;
	height: 150px;
	margin-bottom: 10px;
	border: 1px solid black;
}

p {
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 120px; 
  text-align: center;
  overflow: auto;
}

#p1{
	background-color: pink;	
	font-size: 125%;
}
#p2{
	background-color: #FF7F50;
	font-size: 125%;
}
#p3{
	background-color: #DEB887;
	font-size: 125%;
}
#p4{
	padding: 20px;
	width: 100%;
	border: none;
	margin-top: 30px;
	text-align: left;
}

.row {
  width: 100%;
}

/* Desktop View */
@media (min-width: 992px){
	.col-lg-1{
	border: 1px solid black;
	float: left; 
}
	.col-lg-1{
		width: 33.33%;
	}
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px){
	.col-md-1, .col-md-2{
	border: 1px solid black;
	float: left;
}
	.col-md-1{
		width: 50%;
	}
	.col-md-2{
		width: 100%
	}
}

/* Mobile View */
@media (max-width: 767px){
	.col-sm-1{
	border: 1px solid black;
	float: left;  
}
	.col-sm-1{
		width: 100%;
	}
}